<footer>
  <div>
    <img src="../../../assets//images/logo.png" alt="logo" />
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="">Terms of Use</a>
      </li>
      <li>
        <a routerLink="">Legal Notices</a>
      </li>
      <li>
        <a routerLink="">Help</a>
      </li>
      <li>
        <a routerLink="">Manage Account</a>
      </li>
    </ul>
  </nav>
  <div class="store">
    <a routerLink="">
      <img src="../../../assets/images/app-store.png" alt="app-store"
    /></a>
    <a routerLink="">
      <img src="../../../assets/images/google-play.png" alt="google-play" />
    </a>
  </div>
  <p>Copryright 2020 Dreadful Tomato Streaming All Rights Reserved</p>
</footer>
