@import "../../../styles/variables.scss";

section {
  display: flex;
}

a {
  transition: opacity $t-normal, background-color $t-normal;
  position: relative;
  cursor: pointer;
  display: flex;
  opacity: 0.8;
  width: 50%;

  &:hover {
    opacity: 1;

    span {
      background-color: $c-red;
    }
  }
}

span {
  background-color: rgba($c-red, 0.7);
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  color: $c-white;
  padding: 15px;
  bottom: 0;
  right: 0;
  left: 0;
}
