// Color
$c-white: #ffffff;
$c-black: #000000;
$c-bgc: #0b0b0b;
$c-red: #c52519;

// Font size
$fs-base: 16;

// Font familly
$ff-base: "Montserrat", sans-serif;

// * Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * Transition
$t-normal: 0.35s $b-normal;
